<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User form</title>
</head>
<body>
    <h1>Adicionar usuario</h1>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digita o nome">
            <input type="text" name="age" placeholder="Digita a idade">
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>